@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

div{
    background-color: cornflowerblue;
    border: 1px solid #2f4d92;
    border-color: black;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    border-radius: 10px;
  
}
div > p{
    display: none;
    color: aliceblue;
}
div:hover > p{
    display: block;
}
div:hover{
    background-color: #2f4d92;
}
.principal{
    background-color: aquamarine;
}
h1{
   font-family: 'Merienda';
}
   